{% extends "base.html" %}

{% block title %}Agregar Tarea{% endblock %}

{% block content %}
<h2>Agregar Nueva Tarea</h2>
<form action="{{ url_for('agregar') }}" method="POST">
    <div class="form-group">
        <label for="nombre">Nombre de la Tarea:</label>
        <input type="text" id="nombre" name="nombre" required>
    </div>
    <div class="form-group">
        <label for="estado">Estado:</label>
        <select id="estado" name="estado">
            <option value="Pendiente">Pendiente</option>
            <option value="Completada">Completada</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Agregar</button>
</form>
<a class="btn btn-back" href="{{ url_for('index') }}">Volver</a>
{% endblock %}
